################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tanneryd.BulkOperations.EF6/.vs
/Tanneryd.BulkOperations.EF6/packages
/Tanneryd.BulkOperations.EF6/Tanneryd.BulkOperations.EF6/bin/Debug
/Tanneryd.BulkOperations.EF6/Tanneryd.BulkOperations.EF6/obj/Debug
/Tanneryd.BulkOperations.EF6/Tanneryd.BulkOperations.EF6.Tests/bin/Debug
/Tanneryd.BulkOperations.EF6/Tanneryd.BulkOperations.EF6.Tests/obj/Debug
/Tanneryd.BulkOperations.EF6/Tanneryd.BulkOperations.EF6/Tanneryd.BulkOperations.EF6.1.1.0.nupkg
*.nupkg
